@import './colors.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    overflow-x: hidden;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}


.btn {
    padding: 15px 30px;
    transition: 0.5s;
}

.btn-border-black {
    border: 1px solid #000;
    color: #000;
    transition: 0.5s;

    &:hover {
        background: black;
        color: white;
    }
}

.btn-border-white {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    display: inline-flex;
    border: 2px solid #FFF;
    font-weight: 700;
    margin-top: 30px;
    z-index: 2;
    position: relative;
    &:hover {
        background: white;
        color: $dark-violet;
    }
}

.btn-white {
    background: white;
    border: 2px solid white;
    color: $dark-violet;
    text-transform: uppercase;
    font-size: 18px;
    &:hover {
        background: $dark-violet;
        color: white;
    }
}